<h1>Application for <%= @application.user.name %></h1>

<% if @pet_app.all?{|app| app.approval == "Approved"} %>
    <h2>Application Approved</h2>
<% elsif @pet_app.any?{|app| app.approval == "Rejected"} %>
    <h2>Application Rejected</h2>
<% end %>

<% @pet_app.each do |app| %>
<section>
  <%= app.retrieve_name %>
    <% if app.approval == "Pending"  %>
      <%= button_to 'Approve Pet', "/admin/applications/#{@application.id}", method: 'patch', params: { key: app.pet_id, value: :approve } %>
      <%= button_to 'Reject Pet', "/admin/applications/#{@application.id}", method: 'patch', params: { key: app.pet_id, value: :reject } %>
    <% elsif app.approval == "Approved" %>
      <p>Pet Approved</p>
    <% elsif app.approval == "Rejected" %>
      <p>Pet Rejected</p>
    <% end %>
  <% end %>
</section>

