<h1>Header</h1>
@application.pets if statement (filter by application status)
<% @application.pets.each do |pet| %>
<%= pet.name #add submit button %>
<% #Have submit link go to refresh page %>
<% end %>